body {
    font-family: 'Nunito', sans-serif;
    background-image: url("{{ asset('../ressources/bg.jpg') }}");
}

.avatar {
    border-radius: 50%;  
}

.miniature {
    max-width: 100px;
    height: auto;
}